@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        
</head>
<body>
    <header>
        <h1>Taskit</h1>
        <p>Task + Basket. Get it? Yeah me neither</p>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
