.list {
    background: #eee;
    padding: 20px;
    margin-bottom: 10px;
    border: solid 1px #ccc;
}

.card {
    background: #fff;
    border: solid 1px #ccc;
    margin-bottom: 4px;
    padding: 6px;
}

.cardList {
    position: relative;
    min-height: 150px;
}
.ui-draggable {
    cursor: move;
}
.ui-sortable-helper {
    transform: rotate(3deg);
}
.inlineHeader {
    display:inline;
}
.modalFormBody {
    padding: 0;
}
.modalInnerBody {
    padding: 15px;
}
